# {{ sitepilot_managed }}
root={{ admin_email }}
mailhub={{ smtp_relay_host }}
rewriteDomain={{ smtp_relay_domain }}

UseTLS=Yes
UseSTARTTLS=Yes

FromLineOverride=No
AuthUser={{ smtp_relay_user }}
AuthPass={{ smtp_relay_password }}
