# {{ sitepilot_managed }}
vhTemplate vhost {
  {% if ssl is defined and ssl|bool %}
  templateFile            $SERVER_ROOT/conf/templates/lsphp74-ssl.conf
  {% else %}
  templateFile            $SERVER_ROOT/conf/templates/lsphp74.conf
  {% endif %}
  listeners               http, https

  member {{ app }} {
    vhRoot                /opt/sitepilot/users/{{ user }}/$VH_NAME

    {% if domain is defined %}
    vhDomain              {{ domain }}
    {% endif %}
    
    {% if aliases is defined %}
    vhAliases             {{ aliases|join(', ') }}
    {% endif %}
  }
}