enableCoreDump          1
sessionTimeout          3600

errorlog /opt/sitepilot/services/olsws/logs/admin_error.log {
  useServer             0
  logLevel              INFO
  rollingSize           10M
}

accessLog /opt/sitepilot/services/olsws/logs/admin_access.log {
  useServer             0
  rollingSize           10M
  keepDays              90
  logReferer            1
  logUserAgent          1
}

accessControl {
  allow                 ALL
}

listener adminListener{
  address               *:2083
  secure                1
  keyFile               $SERVER_ROOT/admin/conf/webadmin.key
  certFile              $SERVER_ROOT/admin/conf/webadmin.crt
  clientVerify          0
}