# {{ sitepilot_managed }}

vhRoot                    /opt/sitepilot/users/$VH_NAME
configFile                $SERVER_ROOT/conf/vhosts/$VH_NAME.conf
allowSymbolLink           1
enableScript              1
restrained                1
setUIDMode                2

virtualHostConfig  {
  docRoot                 $VH_ROOT/public/
  cgroups                 0

  errorlog $VH_ROOT/logs/error.log {
    useServer             0
    logLevel              WARN
    rollingSize           10
  }

  accesslog $VH_ROOT/logs/access.log {
    useServer             0
    rollingSize           10
  }

  scripthandler  {
    add                   lsapi:$VH_NAME-lsphp74 php
  }

  phpIniOverride  {
    php_admin_value open_basedir $VH_ROOT
    php_admin_value date.timezone "{{ timezone }}"
    php_admin_value post_max_size "{{ php_post_max_size }}"
    php_admin_value upload_max_filesize "{{ php_upload_max_filesize }}"
    php_admin_value error_log $VH_ROOTlogs/php_error.log
    php_admin_value memory_limit "{{ php_memory_limit }}"
  }

  extprocessor $VH_NAME-lsphp74 {
    type                  lsapi
    address               uds://opt/sitepilot/services/olsws/tmp/$VH_NAME-lsphp74.sock
    maxConns              5
    env                   PHP_LSAPI_CHILDREN=5
    env                   LSAPI_AVOID_FORK=200M
    initTimeout           60
    retryTimeout          0
    respBuffer            1
    autoStart             2
    path                  lsphp74/bin/lsphp
    backlog               100
    instances             1
  }

  context /.sitepilot/pma/ {
    location              /opt/sitepilot/services/phpmyadmin/public/
    allowBrowse           1
    addDefaultCharset     off
    rewrite  {
      enable              1
      inherit             0
    }
  }

  context /.sitepilot/health/ {
    location              /opt/sitepilot/services/health/public/
    allowBrowse           1
    addDefaultCharset     off
    rewrite  {
      enable              1
      inherit             0
    }
  }

  rewrite  {
    enable                1
    autoLoadHtaccess      1
  }
}