# {{ sitepilot_managed }}
version: '3.3'

services:

  mysql-1:
    image: mariadb:10.4-bionic
    container_name: mysql-1
    restart: always
    environment:
      MYSQL_USER: "{{ admin }}"
      MYSQL_PASSWORD: "{{ admin_pass }}"
      MYSQL_ROOT_PASSWORD: "{{ mysql_root_pass }}"
    ports:
      - '3306:3306'
    expose:
      - '3306'
