# {{ sitepilot_managed }}
vhTemplate vhost {
  templateFile            $SERVER_ROOT/conf/templates/lsphp74.conf
  listeners               http, https

  member {{ app.name }} {
    vhRoot                /opt/sitepilot/users/{{ user.name }}/$VH_NAME

    {% if app.domain is defined %}
    vhDomain              {{ app.domain }}
    {% endif %}
    
    {% if app.aliases is defined %}
    vhAliases             {{ app.aliases|join(', ') }}
    {% endif %}

    {% if app.cert_request is defined and app.cert_request|bool %}  
    vhssl {
      keyFile               /etc/letsencrypt/live/$VH_NAME/privkey.pem
      certFile              /etc/letsencrypt/live/$VH_NAME/fullchain.pem
      certChain             1
    }
    {% endif %}
  }
}