# {{ sitepilot_managed }}

root={{ smtp_relay_domain }}
mailhub={{ smtp_relay_host }}
rewriteDomain={{ smtp_relay_domain }}

UseTLS=Yes
UseSTARTTLS=Yes

FromLineOverride=YES
AuthUser={{ smtp_relay_user }}
AuthPass={{ smtp_relay_password }}
